{% extends "base.html" %}

{% block title %} NOT FOUND {% endblock %}

{% block header %}{% endblock %}

{% block container %}
<style>
    body {
        margin: 0 auto;
        padding: 40vh;
        text-align: center;
        font-size: 34px;
        background-color: #262626;
        color: rgba(255, 255, 255, 0.3);
    }

    body a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.3);
        font-size: 22px;

    }

    body a:hover {
        color: rgba(255, 255, 255, 0.5);
        transition: .25s;
    }
</style>

404 NOT FOUND<br><br><br><br><br><br>
<a href="/">Вернуться на главную</a>
{% endblock %}