{% extends "base.html" %}

{% block title %} Contacts {% endblock %}

{% block container %}
<h1>Contacts:</h1><br><br>
<p><b>Address:</b> <i>Moscow, University street, 30/1, office 214</i></p>
<p><b>Phone:</b> <i>8 (800) 9999-99-99</i></p>
<p><b>Fax:</b> <i>1234-567-890</i></p>
<br><br>
<h3>Напишите нам:</h3>
<form method="post" class="form-control">
    <input type="text" name="topic" placeholder="Имя" class="form-control">
    <input type="email" name="email" placeholder="Электронная почта" class="form-control">
    <input type="text" name="message" placeholder="Текст сообщения" class="form-control">
    <button type="submit" class="btn btn-success">Отправить</button>
</form>
{% endblock %}
