<nav class="d-flex justify-content-around">
    <a class="link text-primary" href="/">Список курсов</a>
    <a class="link text-primary" href="/create-course/">Создать курс</a>
    <a class="link text-primary" href="/create-category/">Создать категорию</a>
    <a class="link text-primary" href="/category-list/">Список категорий</a>
    <a class="link text-primary" href="/student-list/">Список студентов</a>
    <a class="link text-primary" href="/create-student/">Создать студента</a>
    <a class="link text-primary" href="/add-student/">Добавить студента на курс</a>
</nav>